*, :after, :before {
  box-sizing: border-box;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?35936466');
  src: url('../fonts/fontello.eot?35936466#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?35936466') format('woff2'),
       url('../fonts/fontello.woff?35936466') format('woff'),
       url('../fonts/fontello.ttf?35936466') format('truetype'),
       url('../fonts/fontello.svg?35936466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra_Bold';
  src: url('../fonts/Effra_Bold.eot?35936466');
  src: url('../fonts/Effra_Bold.eot?35936466#iefix') format('embedded-opentype'),
       url('../fonts/Effra_Bold.woff2?35936466') format('woff2'),
       url('../fonts/Effra_Bold.woff?35936466') format('woff'),
       url('../fonts/Effra_Bold.ttf?35936466') format('truetype'),
       url('../fonts/Effra_Bold.svg?35936466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra_Light';
  src: url('../fonts/Effra_Light.eot?35936466');
  src: url('../fonts/Effra_Light.eot?35936466#iefix') format('embedded-opentype'),
       url('../fonts/Effra_Light.woff2?35936466') format('woff2'),
       url('../fonts/Effra_Light.woff?35936466') format('woff'),
       url('../fonts/Effra_Light.ttf?35936466') format('truetype'),
       url('../fonts/Effra_Light.svg?35936466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra_Medium';
  src: url('../fonts/Effra_Medium.eot?35936466');
  src: url('../fonts/Effra_Medium.eot?35936466#iefix') format('embedded-opentype'),
       url('../fonts/Effra_Medium.woff2?35936466') format('woff2'),
       url('../fonts/Effra_Medium.woff?35936466') format('woff'),
       url('../fonts/Effra_Medium.ttf?35936466') format('truetype'),
       url('../fonts/Effra_Medium.svg?35936466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EffraMedium-Regular';
  src: url('../fonts/EffraMedium-Regular.eot?35936466');
  src: url('../fonts/EffraMedium-Regular.eot?35936466#iefix') format('embedded-opentype'),
       url('../fonts/EffraMedium-Regular.woff2?35936466') format('woff2'),
       url('../fonts/EffraMedium-Regular.woff?35936466') format('woff'),
       url('../fonts/EffraMedium-Regular.ttf?35936466') format('truetype'),
       url('../fonts/EffraMedium-Regular.svg?35936466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {touch-action: auto !important; }
.mCustomScrollbar.mCS_touch_action {touch-action: none;}
.mCustomScrollbar {  touch-action: auto;}
	.getIn { line-height: 15px; font-family: 'EffraMedium-Regular' !important; font-size: 18px !important;}


/*========================================*/
@media only screen and (min-width: 0px) and (max-width: 1900px){
	
	.iconsbg .iconcontent .iconcontinsecBG {  width: 670px; }
	
}
@media only screen and (min-width: 0px) and (max-width: 1580px){
	
	nav#nav li a {  padding: 50px 14px 0;  }
	
	.home .mainheadBG h2 { font-size: 40px; line-height: 25px; margin-bottom: 10px;}
	.home .mainheadBG h1 {font-size: 55px; line-height: 50px; margin-bottom: 10px;}
	.home .mainheadBG {padding-right: 50px; left: 60px; padding-top: 50px;}
	.home .mainheadBG p {font-size: 16px; line-height: 22px; margin-bottom: 64px;}
	.navbar-expand-md .navbar-nav .nav-link {    padding-right: .6rem;  padding-left: .6rem;   font-size: 14px;}
	.home.iconsbg .iconcontent {top: -125px;height: 240px; width: 900px; padding: 0px 50px 0px 100px;}
	.marBot03 {padding-bottom:  70px;}
	
	.remaleri {margin: 0px !important;}
	.adspleri {padding-left: 60px; padding-right: 60px;}
	.home .section03 {padding-left: 60px; padding-right: 60px;}
	
	.home .section07, .home .section08 { padding-left: 60px; padding-right: 60px;}
	.home.iconsbg .iconcontent i {width: 120px; height: 120px;}
	.marBot {margin-bottom: 50px;}
	.marBot_1 {margin-bottom: 70px;}
	
	.home .section02 .ecoCopySec01 p {font-size: 14px; line-height: 20px;}
	.home .section02 h3 {font-size: 44px; line-height: 50px;}
	.home .section02 .ecoCopySec03 p {font-size: 14px; line-height: 20px;}
	.home .section02 {padding-top: 130px; padding-left: 150px; padding-right: 150px; max-width: 100% !important;}
	.back-to-top {bottom: 120px;}
	.home .head {height: 95vh;}
	.inner02 .head { height: auto;}
	.inner04 .head { height: 170px;;}
	.headvideo_Thumb {height: 95vh;}
	.headvideo {height: 95vh;}
	.home .section02 {overflow:visible;}
	.home .iconsbg .iconcontent i.ico01 {width: 115px; height: 115px;}
	.home .iconsbg .iconcontent i.ico02 {width: 115px; height: 115px;}
	.home .iconsbg .iconcontent i.ico03 {width: 115px; height: 115px;}
	
	.home .section03 .owl-carousel .owl-nav .owl-next {width: 40px; height: 40px; right: -40px;}
	.home .section03 .owl-carousel .owl-nav .owl-next:hover {width: 40px; height: 40px; right: -40px;}
	.home .section03 .owl-carousel .owl-nav .owl-prev {width: 40px; height: 40px; left: -40px;}
	.home .section03 .owl-carousel .owl-nav .owl-prev:hover {width: 40px; height: 40px; left: -40px;}
	
	.iconsbg .iconcontent .iconcontinsecBG {  width: 86%; }
	.adspleri3 {padding-left: 60px; padding-right: 60px;}
	
	.scrollcontent {width: 102%;}
	.mCSB_container {padding-right: 2%;}
	
	.help-tip p {right: -13px;}
	.help-tip p:before {right: 20px;}
	
	.inner03 .yourteamBG .section03 {padding-left: 65px; padding-right: 65px;}
	.home .section04 {padding-left: 60px; padding-right: 60px;}
	.home .section05 {padding-left: 60px; padding-right: 60px;}
	.home .tab-content>.active {text-align: left;}
	.inner02 .section02 {padding-top: 80px; padding-left: 60px; padding-right: 60px; max-width: 100% !important;}
	.inner02 .documentBG .section05 {padding-left: 60px; padding-right: 60px;}
	
	.container {max-width: 100% !important;}
	
	.inner03 .haveQuestBG .section03 {max-width: 100% !important;  }
	.inner03 .readyinvestBG .section03 {max-width: 100% !important;}
	.srachBG .searchCopy {max-width: 650px !important; width: 650px;}
	
	.iconsbg .iconcontent .iconcontinsecBG img{  }
	
}

@media only screen and (min-width: 0px) and (max-width: 1450px){
	nav#nav ul.navset02 li:last-child  {width: auto; }
	
	
}
@media only screen and (min-width: 0px) and (max-width: 1350px){
	.dataTable img {width: 100% !important;}
	.home .section04 .HistoryBG {width: 100%;}
	.home .section04 .HistoryBG ul li label:nth-child(odd) {width: 47%;}
	.home .section04 .HistoryBG ul li span:nth-child(even) {width: 47%;}
	.home .section04 .HistoryBG ul li:nth-child(1) label:nth-child(odd)::before {margin-left: -13%;}
	.home .section04 .HistoryBG ul li:nth-child(3) label:nth-child(odd)::before {margin-left: -13%;}
	.home .section04 .HistoryBG ul li:nth-child(5) label:nth-child(odd)::before {margin-left: -13%;}
	.home .section04 .HistoryBG ul li span:nth-child(even) {margin-left: 6%;}
	.home .section04 .HistoryBG ul li label::before {width: 292px;}
	
	nav#nav ul.navset01 li  {  font-size: 13px;  }
	nav#nav li a {  padding: 50px 13px 0;  }

}

@media only screen and (min-width: 0px) and (max-width: 1250px){
	
	#navBG .nav div.main_list ul li a {font-size: 14px !important; padding: 40px 10px 0px !important;}
	.home .section07, .home .section08 { padding-left: 30px; padding-right: 30px;}
	nav#nav li a {padding: 45px 12px 0px;}
	.home .section04 .HistoryBG ul li label:nth-child(odd) {width: 46%;}
	
	.home .section04 .HistoryBG ul li:nth-child(3) label:nth-child(odd)::before {margin-left: -79px !important;}
	.home .section04 .HistoryBG ul li:nth-child(1) label:nth-child(odd)::before {margin-left: -79px !important;}
	.home .section04 .HistoryBG ul li:nth-child(5) label:nth-child(odd)::before {margin-left: -79px !important;}
	
	.home .section02 {padding-left: 60px !important; padding-right: 60px !important;}
	
	nav#nav ul.navset01 li  {  font-size: 11px;  }
	nav#nav li a {  padding: 50px 10px 0;  }


}
@media only screen and (min-width: 0px) and (max-width: 1150px){
	
	.head .inner02Img::before {position: absolute; content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0.5); color: rgba(0, 0, 0, 0.5);  top: 0px;}
	
	.inner03 .yourteamBG{padding-bottom: 0px !important;}
	.home.inner03.inner04 .section03 {padding-bottom: 40px !important;}
	.getIn {margin-top: -10px !important;}
	
	
	.home .marBot03 {padding-bottom: 10px !important;}
	.back-to-top {display: none !important;}
	
	.home .mainheadBG {left: 50px;}
	.home #nav {left: 50px; right: 50px;}
	.home .iconsbg .iconcontent {width: 100%; justify-content: center; padding: 0px;}
	.marBot {margin-bottom: 60px;}
	
	.home .section02 .ecoCopySec01 p, .home .section02 .ecoCopySec03 p {font-size: 14px; line-height: 20px;}
	
	.home .section03 .owl-carousel.owl-drag .owl-item h5 { font-size: 17px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p, .home .section03 .owl-carousel.owl-drag .owl-item p.maincopy {font-size: 15px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p span.number {font-size: 55px; line-height: 55px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p sup.currency {font-size: 35px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p.discription {font-size: 18px; line-height: 22px;}
	.home .section04 h3 {font-size: 40px; line-height: 40px; margin-bottom: 30px;}
	.home .section03 h3 {font-size: 40px; line-height: 40px; margin-bottom: 30px;}
	.inner02 .issuersBG .section03 h4 {font-size: 40px; line-height: 40px; margin-bottom: 30px;}
	.inner02 .infoBG .section04 h4 {font-size: 40px; line-height: 40px; margin-bottom: 30px;}
	.inner02 .documentBG .section05 h4 {font-size: 40px; line-height: 40px; margin-bottom: 30px;}
	.inner02 .section02 h2 {font-size: 40px; line-height: 40px; margin-top: 30px; margin-bottom: 20px;}
	.inner04 .section02 h2 {font-size: 40px; line-height: 40px; margin-top: 0px; margin-bottom: 20px;}
	
	 .home.inner04 .section03 {padding-top: 60px !important;}
	
	
	.home .section03 .owl-carousel.owl-drag .owl-item {padding: 20px;}
	.home .section03 .owl-carousel.owl-drag .owl-item h5 {font-size: 15px; line-height: 20px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p {font-size: 13px; line-height: 18px;}
	.home .section03 .owl-carousel.owl-drag .owl-item {min-height: 410px;}
	.home .section03 .owl-carousel .owl-nav .owl-next {width: 55px; height: 55px; line-height: 55px; font-size: 30px;}
	.home .section03 .owl-carousel .owl-nav .owl-prev {width: 55px; height: 55px; line-height: 55px; font-size: 30px;}
	
	
	.home .section05 h3 {font-size: 38px; line-height: 38px; margin-bottom: 35px;}
	.marBot02 {margin-bottom: 100px;}
	#tabs .tab-content {min-height: 350px;}
	nav#nav li {font-size: 12px !important;}
	
	.container-fluid.contSec01 { min-height: 390px;  margin-top: -31px;  padding-top: 90px;}	
	.home .section03 .owl-carousel .owl-nav .owl-next {right: -30px; width: 35px;  height: 35px;}
	.home .section03 .owl-carousel .owl-nav .owl-next span{font-size: 0px;}
	.home .section03 .owl-carousel .owl-nav .owl-prev {left: -30px; width: 35px;  height: 35px;}
	.home .section03 .owl-carousel .owl-nav .owl-prev span{font-size: 0px;}
	
	.home .section02 { padding-top: 0px; padding-bottom: 70px;}
	.sec06  {background-size: cover;}
	.home .section04 {padding-top: 130px !important; padding-bottom: 220px !important;}
	.home .section04 .HistoryBG ul li:nth-child(1) label:nth-child(odd)::before {margin-left: -73px !important;}
	.home .section04 .HistoryBG ul li:nth-child(3) label:nth-child(odd)::before {margin-left: -73px !important;}
	.home .section04 .HistoryBG ul li:nth-child(5) label:nth-child(odd)::before {margin-left: -73px !important;}
	.home .section04 .HistoryBG ul li label::before {width: 282px;}
	.home .section04 .HistoryBG::before {left: 49%;}
	
	.home .section04 .HistoryBG .TpopUpBG {    width: 47%;    right: 10px;}
	.home .section04 .HistoryBG .CTA17_popUp {bottom: auto; top: 797px;}
	.home .section04 .HistoryBG .CTA16_popUp {    bottom: -156px;}
	.home .section05 {    padding-top: 90px;}
	.marBot03 {padding-bottom: 15px;}
	.headvideo_Thumb .watchVideoBG .playBTN {position: relative;}
	.adspleri {padding-left: 30px; padding-right: 30px;}
	.home .mainheadBG {left: 30px;}
	.iconsbg .iconcontent .iconcontinsecBG {width: 90%;}
	.home .mainheadBG {padding-top: 90px;}
	.home .section02 {padding-top: 50px;}
	.dataTables_scrollBody {height: 547px !important;}
	
	.inner02 .infoBG .section04 {padding-bottom: 60px !important; padding-top: 60px !important;}
	.inner02 .issuersBG .section03 {padding-bottom: 70px !important;padding-top: 70px !important;}
	.inner02 .documentBG .section05 {padding-bottom: 60px !important;padding-top: 60px !important;}
	.inner02 .documentBG {min-height: 650px;}
	.home.inner03 .section03 { padding-bottom: 100px;}
	.home.inner04 .section03 { padding-bottom: 20px;}
	.home.inner04 .meetUsBG .section04 { padding-bottom: 80px !important; padding-top: 80px !important;}
	
	
	.inner03 .readyinvestBG .section03, .inner03 .haveQuestBG .section03 {background-size: 100% !important;}
	.inner03 .haveQuestBG .section03::before, .inner03 .readyinvestBG .section03::before {width: 65%;}
	.inner03 .haveQuestBG .section03 .col-sm-6.investCopy { flex: 0 0 70%;  max-width: 70%; min-height: 285px; padding: 30px;}
	.inner03 .haveQuestBG .section03 .col-sm-6 { flex: 0 0 30%;  max-width: 30%;}
	
	.inner03 .readyinvestBG .section03 .col-sm-6.investCopy { flex: 0 0 70%;  max-width: 70%; min-height: 285px; padding: 30px;}
	.inner03 .readyinvestBG .section03 .col-sm-6 { flex: 0 0 30%;  max-width: 30%;}
	.adspleri3,.home .section04,  .home .section05, .inner02 .section02, .home .section03, .inner02 .documentBG .section05, .inner03 .yourteamBG .section03{ padding-left: 30px; padding-right: 30px;}
	.inner03 .meetUsBG .section04 {padding-bottom: 110px !important;}
	.inner03 .yourteamBG .section03 .teamBG .team {padding: 20px; min-height: 270px;}
	
	.contactDet .col-sm-2 {flex: 0 0 8.666667%; max-width: 8.666667%;}
	.contactDet .col-sm-5 {flex: 0 0 45.666667%; max-width: 45.666667%;}
	.inner04 .section02 .col01 {font-size: 16px;}
	.inner04 .section02 .col02 {font-size: 16px;}
	.inner04 .section02 .contactForm label { line-height: 20px; font-size: 14px; min-height: 40px;  display: flex; align-items: center;  flex-wrap: wrap; justify-content: left;}
	
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 {flex: 0 0 100%; max-width: 100%;}
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 .submit2{ width: 160px; float: right;}
	nav#nav li a { padding: 52px 10px 0px;}
	.srachBG .searchCopy input {width: 70vw !important;}
	.home .section02 {padding-top: 15px;}
	.home.inner03 .section02 {padding-top: 55px;}
	.adspleri2{padding-left: 30px; padding-right: 30px;}
	.help-tip {right: 6%;}
	.home .section03 { padding-bottom: 100px !important;}
	.home .section04 .HistoryBG ul li span {padding: 10px 20px; font-size: 24px; line-height: 30px;}
	.home .section04 .HistoryBG .TpopUpBG h6 {font-size: 26px;}
	.home .section04 .HistoryBG .CTA16_popUp {bottom: -133px;}
	
		.home.inner03 .section02 .col-sm-2 {flex: 0 0 22.666667%; max-width: 22.666667%;}

	.home .section02 .ecosysBGTop {padding: 15px !important;}
	
	
	.home.inner04 .section02 .col-sm-2 {flex: 0 0 8.666667% ; max-width: 8.666667% ;}
	.home.inner04 .section02 .col-sm-5 {flex: 0 0 45.666667% ; max-width: 45.666667% ;}
	
}




@media only screen and (min-width: 0px) and (max-width: 900px){
	
	/*nav#nav.navShadow {position: absolute !important;}*/
	nav#nav.navShadow {height: 70px; box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.4);}
	nav#nav.navShadow .topNewsBG, nav#nav.navShadow .aboutInfo {display: none !important;}
	nav#nav.navShadow .TopHead {margin-top: -80px !important;}
	nav#nav.navShadow .TopHead2 {margin-top: -80px !important;}
	nav#nav.navShadow .menuSecMob { height: 70px !important; background: #171717;  }
	nav#nav.navShadow .menuSecMob .tadawulLogo{ top: 18px !important; text-align: right; right: 25px;  }
	nav#nav.navShadow .menuSecMob .tadawulLogo img{ width: 70%; }
	nav#nav.navShadow .menuSecMob .sseLogo {left: 0px;top: 33px; width: 20%; text-align: center; right: 0px; margin: 0px auto;}
	
	nav#nav.navShadow .menuSecMob .sseLogo img{ width: 75%; }
	
	nav#nav.navShadow .menuSecMob .menuBG{ width: 40px; height: 40px; top: 26px; left: 25px;  }
	
	
	.home .section08 .col-sm-3 {flex: 0 0 50% !important;  max-width: 50% !important; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content:  space-between !important; flex-wrap: wrap; justify-content: center;}
	.home .section08 .col-sm-2 {flex: 0 0 22% !important;  max-width: 22% !important; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content:  space-between !important; flex-wrap: wrap; justify-content: center;}
	
	.home .section08 .col-sm-3 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
	.home .section08 .col-sm-2 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }

	
	.inner03 .yourteamBG{padding-bottom: 0px !important;}
	.home.inner03.inner04 .section03 {padding-bottom: 40px !important;}
	
	.getIn {margin-top: -10px !important;}
	
	.home.inner03.inner04 .section02 .col-sm-2 {flex: 0 0 8.666667% ; max-width: 8.666667% ;}
	.home.inner03.inner04 .section02 .col-sm-5 {flex: 0 0 45.666667% ; max-width: 45.666667% ;}
	
	
	.highcharts-container  .highcharts-axis-labels.highcharts-xaxis-labels  {top: 15px !important; left: -35px !important;}
	
	.home .section02 {padding-left: 60px !important; padding-right: 60px !important;}
	
	.home .section08 .remaleride {width: 450px; margin: 0px auto !important;}
	.home .section08 .col-sm-3 { flex: 0 0 50% !important; max-width: 50% !important;}
	
	
	table.dataTable thead th.sorting_asc:nth-child(2)::after {top: 22px;}
	table.dataTable thead th.sorting_desc:nth-child(2)::after {top: 22px;}
	
	.inner03 .meetUsBG .section04 .meetUsTableBG .table th {font-size: 20px;}
	.home .section03 { padding-left: 25px !important;}
	
	.home.inner04 .section02 {padding-bottom: 55px !important;}
	
	.home .section03 .select {margin-left: 0px;}
	.home .headvideo {left: 0px; right: 0px; width: 100%; height: 60vh;}
	.home .head {height: 90vh;}
	
	.home .mainheadBG {z-index: 7;}
	.home .mainheadBG {top: 330px; display: block; bottom: auto;}
	.headvideo_Thumb .watchVideoBG {bottom: auto; top: 280px;}
	.headvideo_Thumb .watchVideoBG .playBTN {position: relative;}
	
	.home .mainheadBG {max-width: 650px !important; padding-right: 25px; height: 270px;}
	.home.inner02 .mainheadBG {max-width: 580px !important; padding-right: 100px; height: 230px;}
	.home .iconsbg .iconcontent {height: 540px !important;    padding: 0px !important; position: relative;}
	.home .iconsbg .iconcontent i {width: 100px; height: 100px;}
	.home .section03 {padding-top: 89px; min-height: 600px;}
	.marBot03 {padding-bottom: 80px;}
	.marBot {margin-bottom: 0px;}
	.smlsc01 {flex: 0 0 100%; max-width: 100%;}
	.home .iconsbg {min-height: 115px;}
	
	.styledSelect  {font-size: 18px;}
	.home .section06 .signupbg {width: 100%;}
	.imgmob {width: 90%;}
	nav#nav ul {top: 0px !important; display: block;}
	.containerNav {position: fixed; background: #171717; width: 100%; max-width: 100%; height: 720px; z-index: 99999 !important; display: none; padding: 70px;}
	
	.home .iconsbg {min-height: auto;}
	.iconsbg .iconcontent {top: 46px;}
	.headvideo_Thumb {width: 100%; height: 740px;}
	
	.menuSecMob {display: inline; position: relative;}
	.sseLogo {position: absolute; left: 20px; top: 56px;}
	.sseLogo img{width: 100%;}
	.tadawulLogo { position: absolute; top: 40px; right: 0px;}
	.tadawulLogo img{ width: 80%;}
	.menuBG { position: absolute; top: 90px; width: 50px; height: 50px; border: 0px solid red; left: 15px; display: block; background: url("../img/hambMenu.svg") no-repeat center; background-size:70%;;}
	.home .section02 a.tadawulLogo {position: relative; top: 0px;}
	
	.ourecoSYLeft { flex: 0 0 60%; max-width: 60%; padding: 0px 30px 0px 0px; }
	.ourecoSYRight { flex: 0 0 40%; max-width: 40%;}
	.home .section02 a.muqassaLogo {background-size: 100% !important;}
	
	
	
	.aboutInfo {top: 60px; right: 25px; z-index: 999 !important;}
	.topnewscroll {width: 100%; margin: 0px auto; border: 0px solid red; overflow-x: scroll; overflow-y: hidden; height: 40px; padding-left: 0px; margin-left: 0%; position: absolute; top: -20px; left: 0px;}
	.topnewscroll .topscroll{width: 100%; min-width: 650px; position: relative; text-align: center; padding-left: 0px !important;overflow-x: scroll; overflow-y: hidden;  }
	 
	.TopHead, .TopHead2 {font-size: 11px; position: relative;}
	.TopHead2 p {padding-right: 15px;}
	.TopHead p.hidemob {position: absolute; left: 15px; top: -20px;}
	
	.topNewsBG {position: absolute; top: 0px; right: 0px; width: 30px; height: 80px; background: url("../img/topNewsBG.png") repeat-y top right; background-size: contain; z-index: 999 !important;}
	.TopHead2 marquee {height: 40px; overflow: hidden;}
	.renewssp01 {padding: 0px 15px !important;}
	.pulse:before, .pulse:after {left: 0px; right: 0px; top: 0px; bottom: 0px; animation: animate 0s linear infinite;}
	
	.fullwidth {flex: 0 0 100% !important; max-width: 100% !important; text-align: center;}
	.home .section08 .col-sm-7 {flex: 0 0 100% !important; max-width: 100% !important;}
	/*.home .section08 .col-sm-2 {flex: 0 0 30% !important; max-width: 30% !important;}
	.home .section08 .col-sm-3 {flex: 0 0 70% !important; max-width: 70% !important;}*/
	
	.containerNav .adspleri {padding: 0px;}
	.mobPos01 {width: 100%; top: 170px;}
	
	
	.headvideo_Thumb .watchVideoBG .watchVideoCopy {font-size: 13px; padding-left: 15px; line-height: 50px;}
	.headvideo_Thumb .watchVideoBG .playBTN {width: 50px; height: 50px;}
	.home .headvideo, .home .head {height: 740px;}
	.home .mainheadBG {left: 20px;}

	.mobPos02 {position: absolute; right: 0px; top: 115px; height: 50px; width: 170px; border: 0px solid red;}
	.mobPos02 .navset02 li {display: inline-block !important;}
	nav#nav ul.navset02 li a{ padding: 15px 15px 10px; }
	nav#nav ul.navset02 li a:hover{ padding: 15px 15px 10px; }
	
	nav#nav ul.navset01 li a{ padding: 15px 25px 10px; font-size: 22px; line-height: 32px; font-family: 'Effra_Light';}
	nav#nav ul.navset01 li.active a{ font-family: 'Effra_Medium'; font-weight: normal;}
	nav#nav ul.navset01 li a:hover{ padding: 15px 15px 10px; }
	nav#nav #brand {position: absolute; top: 30px; left: 25px;}
	nav#nav #brand img{width: 90%;}
	nav#nav #brand2 {position: absolute; top: 33px; right: 25px;}
	nav#nav #brand2 img{width: 90%;}
	nav#nav ul.navset02 li i.search {margin-right: 10px;}
	
	.closeMenu {position: absolute; left: 25px; height: 30px; padding-right: 20px; z-index: 9999 !important; top: 15px; color: #fff;  font-family: 'Effra_Light'; display: block; border: 0px solid red;}
	.closeMenu span{padding-left: 10px;}
	.home .mainheadBG h2 {font-size: 34px; line-height: 22px; margin-bottom: 5px;}
	.home .mainheadBG h1 {font-size:48px; line-height: 43px; margin-bottom: 5px;}
	.headvideo_Thumb .watchVideoBG .playBTN {background: url(../img/playBtnMob.svg) no-repeat; background-size: contain;}
	
	
	.container-fluid.contSec01 {margin-top: 0px; padding-top: 40px; min-height: 350px;}
	.header::after { content: ''; background: url("../img/header-patternBG.png") repeat-x left bottom #fff; background-size: contain;   position: absolute; top: 740px; left: 0px; height: 46px; width: 100%; z-index: 100; }
	.back-to-top {display: none;}
	nav#nav.navShadow .TopHead {margin-top: 0px;}
	nav#nav.navShadow .TopHead2 {margin-top: 0px;}
	
	.headvideo_Thumb::before { content: ''; background-color: rgba(0, 0, 0, 0.7); background: rgba(0, 0, 0, 0.7); color: rgba(0, 0, 0, 0.7);   position: absolute; bottom: 0px; left: 0px; height: 740px; width: 100%; z-index: 6; }
	
	.aboutInfo {background: url(../img/aboutIcoMob.svg) no-repeat; background-size: contain;}
	.navShadow {}
	.iconsbg .iconcontent .iconcontinsecBG {width: 94%; text-align: center; right: 0px;}
	.iconsbg .iconcontent .iconcontinsecBG img {margin: 20px 0px;}
	
	.adspleri3 {padding-left: 25px; padding-right: 25px;}
	.home .mainheadBG p {font-size: 15px; line-height: 20px; margin-bottom: 0px; font-family: 'Arial'}
	
	.adpatopbotMob {padding-top:50px !important;padding-bottom:50px !important;}
	.adpaleftrightMob {padding-left: 25px !important;padding-right: 25px !important;}
	
	
	.container-fluid.contSec01 h4 {font-size: 50px; line-height: 50px;}
	.container-fluid.contSec01 h5 {font-size: 64px; line-height: 60px; margin-bottom: 20px;}
	.container-fluid.contSec01 p { font-size: 16px; line-height: 26px;}
	/*.home #sec02Slide .owl-nav {width: 70%;}
	.home #sec02Slide .owl-dots {width: 70%; right: 0px;}*/
	.home .section04 .HistoryBG {width: 100%;}
	.home .section04 .HistoryBG ul li label::before {width: 100%;}
	.home .section03 .cta{width: 100%;}
	.home .section07 img {width: 100%;}
	.home .section02 h3 {margin-bottom: 30px;}
	
	.home .section03 .owl-carousel .owl-nav .owl-prev {  left: -30px; width: 35px; height: 35px;   font-size: 40px;  background: url("../img/prev2.svg") no-repeat center; background-size: 40%; }
	.home .section03 .owl-carousel .owl-nav .owl-prev:hover {  left: -30px; width: 35px; height: 35px;  font-size: 40px;  background: url("../img/prev2.svg") no-repeat center; background-size: 40%; }

	.home .section03 .owl-carousel .owl-nav .owl-next {  right: -30px; width: 35px; height: 35px;  font-size: 40px; font-size: 0px; background: url("../img/next3.svg") no-repeat center; background-size: 40%; }
	.home .section03 .owl-carousel .owl-nav .owl-next:hover { right: -30px; width: 35px; height: 35px;  font-size: 40px; font-size: 0px; background: url("../img/next3.svg") no-repeat center; background-size: 40%; }
	
	.home .section03 .owl-carousel .owl-nav .owl-next span{display: none;}
	.home .section03 .owl-carousel .owl-nav .owl-prev span{display: none;}
	.home .section03, .home .section05, .home .section06, .home .section07, .home .section08 {padding-left: 25px; padding-right: 25px;}
	
	.owl-item { opacity: 0.3;}
	.owl-item.active { opacity: 1;}
	.owl-stage{padding-left:0px !important;}
	.home .section03 .owl-carousel.owl-drag .owl-item {padding:20px 10px;}
	.home .section02 h3, .home .section03 h3, .home .section04 h3, .home .section05 h3, .home .section06 .signupbg h3 {font-size: 45px; margin-bottom: 40px;}
	
	.home .section03 .cta a.view {font-size: 14px;background-size: 20px; padding-left: 36px; line-height: 22px;}
	.home .section03 {padding-bottom: 80px;}
	.home .section04 {padding-top: 110px !important; padding-bottom: 170px;}
	.home .section04 p {padding: 0px; font-size: 16px; line-height: 24px;}
	.home .section04 h3 {margin-bottom: 15px;}
	.home .section04 .HistoryBG ul li label {font-size: 75px;}
	.home .section04 .HistoryBG ul li.active label {font-size: 75px;}
	.home .section04 .HistoryBG::before {left: 0px;}
	.home .section04 .HistoryBG ul li label::before {border: none;}
	.home .section04 .HistoryBG ul li span:nth-child(odd) {width: 100%;}
	.home .section04 .HistoryBG ul li label:nth-child(even) {width: 100%;}
	.home .section04 .HistoryBG ul li label:nth-child(odd) {width: 100%; padding-left: 20px;}
	.home .section04 .HistoryBG ul li span:nth-child(even) {width: 100%; margin-left: 0px;}
	.home .section04 .HistoryBG ul li label:nth-child(even)::before {margin-left: 0px; border-bottom: none !important;}
	.home .section04 .HistoryBG ul li label:nth-child(odd)::before {margin-right: 0px; border-bottom: none !important;}
	.home .section04 .HistoryBG .TpopUpBG {width: 100%; padding: 15px 20px; right: 0px;}
	.home .section04 .HistoryBG .TpopUpBG h6 {font-size: 24px; line-height: 30px;}
	.home .section04 .HistoryBG .TpopUpBG ol li span {margin-right: 15px; font-size: 18px;}
	.home .section04 .HistoryBG .TpopUpBG ol li ul li {font-size: 14px; line-height: 20px;}
	.home .section04 .HistoryBG .TpopUpBG ol li ul li span {font-size: 14px !important; line-height: 20px !important;}
	
	
	.back-to-top {display: none !important;}
	
	nav#nav ul.navset01 li {text-align: left;}
	.srachBG .searchCopy {width: 90%; max-width: 90%;}
	.srachBG .closePop {    background: url(../img/close-POPup.svg) no-repeat center #000; background-size: 50px 50px;   top: 5%;}
	.srachBG .searchCopy input {    width: 100% !important;    border-radius: 0px;    border: 1px solid #707070;padding-left: 10px;    padding-right: 70px;    font-size: 16px;}
	.srachBG .searchBTN {width: 60px;    background: url(../img/search-ico.svg) no-repeat center #00A4E4;background-size: 30px;    font-size: 0px;}
	
	.home .section05 {padding-top: 80px;}
	.home .section04 .HistoryBG ul li label {padding-left: 20px; text-align: left !important;}
	
	.home .section04 .HistoryBG .CTA20_popUp {top: 87px;}
	.home .section04 .HistoryBG .CTA19_popUp {top: 347px;}
	.home .section04 .HistoryBG .CTA18_popUp {top: 607px;}
	.home .section04 .HistoryBG .CTA17_popUp {bottom: auto; top: 867px;}
	.home .section04 .HistoryBG .CTA16_popUp {bottom: auto; top:1127px;}
	#tabs .nav-tabs .nav-link {font-size: 14px; padding: 20px; display: flex !important; align-items: center; justify-content: center; text-align: center;}
	
	.home .section06 .signupbgTankU {width: 90%; height: 100px;}
	.home .section06 .signupbgTankU p {font-size: 24px; line-height: 32px; height: 100px;}
	.sec06 {background-size:cover;}
	.home .section02 {padding-bottom: 180px !important;}
	
	.home .section07 img {width: auto;}
	
	.ourecoBG .adpale { padding-left: 0px !important;}
	.ourecoBG .ecoBglog {position: relative;}
	
	.hidemob3 {display: inline !important;} 
	.hidedesk3 {display: none !important;}
	
	.home .section03 .owl-carousel .owl-nav .owl-next, .home .section03 .owl-carousel .owl-nav .owl-prev {display: none;}
	.home .section03 {padding-left: 0px; padding-right: 0px; padding-top: 50px !important; padding-bottom: 50px;}
	.owl-item {opacity: 1;}
	.poMob {text-align: left !important;}
	.inner02 .infoBG .section04 { padding-top: 50px !important; padding-bottom: 50px;}
	.inner02 .documentBG .section05 { padding-top: 50px !important; padding-bottom: 50px;}
	.home .section06 { padding-top: 50px !important; padding-bottom: 50px; min-height: 320px;}
	
	.inner02 .documentBG {min-height: 610px;}
	
	.traBG {height: 40px; width: 100%; border: 0px solid red; position: absolute; z-index: 10000 !important; display: block !important; }
	.headvideo {display: none !important;}
	.videoPopUpBTN {position: absolute; top: 40%; border: 0px solid red; width: 60%; height: 70px; z-index: 1000 !important; display: block;}
	
	.videoPopBG {position: fixed; top: 0px; padding: 10px; width: 100vw; height: 100vh; left: 0px; right: 0px; bottom: 0px; border: 0px solid red; display: none; z-index: 900 !important; background-color: rgba(0, 0, 0, 1); background: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1); }
	.videoMob {width: 100%; height: 100%; display: flex; align-items: center;  flex-wrap: wrap; justify-content: center;  z-index: 1000 !important;}
	.videoClose {position: absolute; top: 20px; right: 20px; width: 100px; height: 40px; border: 1px solid #eee; color: #fff; line-height: 40px; text-align: center; display: block; z-index: 99999 !important; background: #000;}
	
	.home .section03 .owl-carousel.owl-drag .owl-item h5 { font-size: 17px; line-height: 24px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p { font-size: 14px;  line-height: 24px;}	
	
	/*.home .section08 .col-sm-3 {flex: 0 0 35% !important;  max-width: 35% !important;}
	.home .section08 .col-sm-2 {flex: 0 0 40% !important;  max-width: 40% !important;}*/
	
	
	/*.home .section08 .col-sm-3 {flex: 0 0 40% !important;  max-width: 40% !important; margin: 0px auto; text-align: center; display: flex !important; align-items: center;  flex-wrap: wrap; justify-content: center;}
	.home .section08 .col-sm-2 {flex: 0 0 30% !important;  max-width: 30% !important; margin: 0px auto; text-align: center; display: flex !important; align-items: center;  flex-wrap: wrap; justify-content: center; }*/
	.home .section08 p {display: flex; align-items: center;  flex-wrap: wrap; justify-content: center; margin: 10px 0px 15px;}	
	
	
	.inner02 .section02 {padding-left: 0px; padding-right: 0px;}
	.inner02 .head img {width: 100%; margin-left: 0%;}
	.inner02 .head .inner02Img::after {width: 100%;}
	.home .headvideo, .home .head {height: 720px;}
	.home.inner02 .headvideo, .home.inner02 .head {height:620px;}
	.header::after {background: none;}
	
	.dataTables_scrollBody { height: 450px !important;}
	.home .section02 {padding-bottom: 130px !important;}
	.home .section04{padding-left: 30px; padding-right: 30px;}
	.inner02 .documentBG .section05 {padding-left: 30px; padding-right: 30px;}
	
	
	.inner02 .issuersBG .section03 h4, .inner02 .section02 h2, .inner02 .infoBG .section04 h4, .inner02 .documentBG .section05 h4 {font-size: 40px; line-height: 50px;}
	.inner02 .issuersBG .section03 ul li {font-size: 18px; line-height: 27px;}
	.inner02 .issuersBG .section03 .subCopy p {font-size: 16px; line-height: 24px;}
	.inner02 .issuersBG .section03 .subCopy { padding-top: 72px;}
	
	.inner02 .tab-content { width: 100% !important;  overflow-x: scroll !important;}
	.inner02 .tab-content>.tab-pane { width: 850px !important; overflow-x: scroll !important; }
	
	.inner02 .section02 h2,.inner02 .section02 p {padding-left: 25px; padding-right: 25px;}
	
	.inner02 .documentBG .section05 .docmainCopy .table th {font-size: 16px;}
	.inner02 .documentBG .section05 .docmainCopy .table td span, .inner02 .documentBG .section05 .docmainCopy .table td {font-size: 14px; line-height: 18px;}
	.inner02 .documentBG .section05 .docmainCopy a.downloadB {background: url(../img/download.svg) no-repeat left 68px top 9px;    background-size: 11px;    font-size: 14px;}
	
	.containerNav.innerIpad {height: 610px;}
	.containerNav.innerIpad .mobPos01{ top: 138px;}
	.inner02 .section02 {padding-top: 40px !important;}
	
	.home.inner03 .section02 {padding-left: 30px; padding-right: 30px;}
	.home.inner03 .section02 h2, .home.inner03 .section02 p {padding-left: 0px; padding-right: 0px;}
	.inner03 .haveQuestBG .section03 {background-size: 100%;}
	.inner03 .haveQuestBG .section03::before {width: 80%;}
	
	.inner03 .haveQuestBG .section03 .col-sm-6.investCopy {    flex: 0 0 70%;   max-width: 70%;     min-height: 265px; padding: 30px;}
	
	
	.inner03 .readyinvestBG .section03 {background-size: 100%;}
	.inner03 .readyinvestBG .section03::before {width: 80%;}
	
	.inner03 .readyinvestBG .section03 .col-sm-6 {    flex: 0 0 30%;   max-width: 30%;  }
	.inner03 .readyinvestBG .section03 .col-sm-6.investCopy {    flex: 0 0 70%;   max-width: 70%;     min-height: 265px; padding: 30px; }
	
	 .meetUsBG .section04 h4 { font-size: 40px !important; line-height: 50px;}
	.inner03 .meetUsBG .section04 {padding-top: 60px !important;}
	.inner03 .meetUsBG {min-height: 900px;}
	
	.inner03 .yourteamBG .section03 {padding-left: 30px; padding-right: 30px;}
	.inner03 .yourteamBG .section03 .teamBG.admarTeam {margin-left: -10px !important; margin-right: -10px !important;}
	.inner03 .yourteamBG .section03 .teamBG .adspleriTeam {padding: 0px 10px;}
	.inner03 .yourteamBG .section03 .teamBG .team {padding: 15px;}
	.inner03 .yourteamBG .section03 .teamBG .team h6  {font-size: 18px; line-height: 24px;}
	.inner03 .yourteamBG .section03 .teamBG .team p {font-size: 16px; line-height: 24px;}
	.inner03 .yourteamBG .section03 h2 {font-size: 40px; line-height: 50px; text-align: left !important; margin-bottom: 20px;}
	
	.inner04 .head {height: 275px !important;}
	.contactDet .col-sm-2 {flex: 0 0 8.666667%; max-width: 8.666667%;}
	.contactDet .col-sm-5 {flex: 0 0 45.666667%; max-width: 45.666667%;}
	.inner04 .section02 .col01 {font-size: 16px;}
	.inner04 .section02 .col02 {font-size: 16px;}
	.inner04 .section02 .contactForm label { line-height: 20px; font-size: 14px; min-height: 40px;  display: flex; align-items: center;  flex-wrap: wrap; justify-content: left;}
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 {flex: 0 0 100%; max-width: 100%;}
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 .submit2{ width: 160px; float: right;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 {padding-left: 30px; padding-right: 30px;}	
	
	.home.inner01 .mainheadBG, .home.inner02 .mainheadBG, .home.inner03 .mainheadBG, .home.inner04 .mainheadBG { top: 240px;}
	.home .mainheadBG {top: 290px;}
	
	
	.home.inner03 .section02 .col-sm-2 {flex: 0 0 30.666667%; max-width: 30.666667%;}
	.home.inner03 .section02 .col-sm-5 {flex: 0 0 50.666667%; max-width: 50.666667%;}
	
	.container-fluid.contSec01 p {padding-bottom: 40px !important; line-height: 22px;}
	
	/*.home .section08 .col-sm-3 {flex: 0 0 60% !important;  max-width: 60% !important; margin: 0px auto; text-align: center; display: inline-block; }
	.home .section08 .col-sm-2 {flex: 0 0 30% !important;  max-width: 30% !important; margin: 0px auto; text-align: center; display: inline-block; }*/
	
	/*.home .section08 .col-sm-3 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
	.home .section08 .col-sm-2 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }*/
	
	
}
@media only screen and (min-width: 901px) and (max-width: 970px){
	nav#nav li { font-size: 11px !important;}
	nav#nav #brand2 img {width: 80%;}
	nav#nav #brand img { padding-top: 24px;}
	nav#nav li a {padding-top: 41px;}
	nav#nav ul.navset02 li a {padding-top: 34px;}
	.home .mainheadBG { padding-top: 70px;}
	.home .mainheadBG h2 {font-size: 30px;}
	.home .mainheadBG h1 {font-size: 45px; line-height: 40px;}
	.home .mainheadBG p {font-size: 14px; line-height: 18px; margin-bottom: 0px;}
	.home .mainheadBG{max-width: 410px;}
	.home .section04 .HistoryBG ul li:nth-child(1) label:nth-child(odd)::before {  margin-left: -70px !important;}
	.home .section04 .HistoryBG ul li:nth-child(3) label:nth-child(odd)::before {  margin-left: -70px !important;}
	.home .section04 .HistoryBG ul li:nth-child(5) label:nth-child(odd)::before {  margin-left: -70px !important;}
	.home .section04 .HistoryBG ul li label::before { width: 279px;}
	.inner02 .mainheadBG {height: 190px;}
	.home.inner03 .section02 .col-sm-2 { flex: 0 0 8.666667%; max-width: 8.666667%;}
	
	
	
}


@media only screen and (min-width: 581px) and (max-width: 900px){
	.home .mainheadBG { max-width: 600px !important; padding-right: 25px;  height: 350px; left: 35px;}
	.home .mainheadBG h2 {font-size: 42px;}
	.home .mainheadBG h1 {font-size: 58px; line-height: 55px;}
	.home .mainheadBG p {font-size: 18px; line-height: 28px;}
	.headvideo_Thumb .watchVideoBG .watchVideoCopy {font-size: 20px; padding-left: 25px; line-height: 60px;}
	.headvideo_Thumb .watchVideoBG .playBTN {width: 60px; height: 60px;}
	.menuBG {top: 120px; left: 35px;}
	.sseLogo {left: 35px; top: 63px;}
	.sseLogo img{width: 100%;}
	.renewssp01 {padding: 0px 35px !important;}
	.TopHead p.hidemob {left: 35px;}
	.topnewscroll .topscroll {padding-left: 35px;}
	.tadawulLogo {top:50px;}
	.home .iconsbg .iconcontent {height: 220px !important;}
	
	.iconsbg .iconcontent .iconcontinsecBG .icoSet img { width: 85% !important;}
	.ourecoBG .logosetBG .logosetLeft a.muqassaLogo {  width: 65% !important;}	
	
	
}


	
@media only screen and (min-width: 0px) and (max-width: 767px){
	
	nav#nav.navShadow .menuSecMob .sseLogo{ left: 75px; top: 33px; margin: 0px; width: 150px;}
	nav#nav.navShadow .menuSecMob .menuBG {left: 16px;}
	
	.home .section02 {padding-left: 0px !important; padding-right: 0px !important;}
	.topnewscroll .topscroll{text-align: left; padding-left: 0px !important;  }

	.home .section03 {padding-left: 25px !important;}
	.home .section03 .select {margin-left: 0px !important;}
	
	#tabs .nav-tabs .nav-link {padding: 10px; font-size: 12px;}
	
	
	.home.inner04 .section02 h2 {padding-left: 0px !important;}
	.inner03 .head .inner02Img img {width: 240% !important;}
	.iconsbg .iconcontent .iconcontinsecBG {width: 100% !important;}
	.home .section04 .HistoryBG .TpopUpBG {right: 0px;}
	.home .mainheadBG {top: auto; bottom: 20px !important;}
	.home.inner01 .mainheadBG, .home.inner02 .mainheadBG, .home.inner03 .mainheadBG, .home.inner04 .mainheadBG {top: 310px;}
	
	.header::after { background: url(../img/header-patternBG.png) repeat-x left bottom #fff !important;}
	
	.home .section02 h3, .home .section03 h3, .home .section04 h3, .home .section05 h3, .home .section06 .signupbg h3 {font-size: 30px;}
	.home .section03 .cta a.view {font-size: 12px;background-size: 20px; padding-left: 36px; line-height: 25px;}
	
	.tadawulLogo2 {width: 100% !important; height: 150px !important; background-position: top !important; background-position: center !important; transform: scale(1) !important; padding: 0px !important; margin-top: -10px !important; margin-bottom: 0px !important; }
	.muqassaLogo {width: 100% !important;  height: 110px !important; background-position: center !important; transform: scale(1) !important; }
	.edaaLogo {width: 100% !important; height: 110px !important; background-position: center !important;transform: scale(1) !important;  }
	.cmaLogo {width: 100% !important; height: 130px !important; background-position: center !important;transform: scale(1) !important;  position: relative; margin-top: 60px !important;}
	
	.home .tab-content {}
	
	.ourecoBG .logosetBG { position: relative;  margin-bottom: 0px !important; margin-top: 40px !important; }
	.ourecoBG .logosetBG::after { position: absolute; content: 'Fully owned subsidiaries'; top: -20px; text-align: center; width: 100%; text-transform: uppercase; font-family: 'Effra_Medium'; font-size: 16px; color: #222222;}
	
	
	.ourecoBG .logosetBG .logosetLeft {width: 50% !important; border: 0px solid red; display: inline-block !important; flex: 0 0 50%; max-width: 50%;}
	.ourecoBG .logosetBG .logosetLeft a.muqassaLogo{width: 100% !important;}
	.ourecoBG .logosetBG .logosetRight {width: 50% !important; border: 0px solid red; display: inline-block !important; flex: 0 0 50%; max-width: 50%;}
	.ourecoBG .logosetBG .logosetRight a.edaaLogo{width: 100% !important;}
	.ourecoBG .cmaLogo::after {position: absolute; content: 'Regulated by'; width: 40%; background: #f6f6f6; margin: 0px auto; left: 0px; right: 0px; text-align: center; top: -20px;  text-transform: uppercase; font-family: 'Effra_Medium'; font-size: 16px; color: #222222;}
	.ourecoBG .cmaLogo::before {position: absolute; content: ''; width: 100%; height: 1px; background: #000; margin: 0px auto; left: 0px; right: 0px; text-align: center; top: -8px;  text-transform: uppercase; font-family: 'Effra_Medium'; font-size: 16px; color: #222222;}

	
	.hidemob2 {display: block !important;} 
	.hidemob {display: inline !important;} 
	.hidedesk {display: none !important;}
	.hidedesk2 {display: none !important;}
	
	.ourecoSYRight {  flex: 0 0 100%;  max-width: 100%;}
	
	.docchartbg .docchartdesk{ display: none !important; }
	.docchartbg .docchartmob{ display:inline !important; }
	
	.meetchartbg .meetchartdesk{ display: none !important; }
	.meetchartbg .meetchartmob{ display:inline !important; }
	
	
	
	
}
@media only screen and (min-width: 0px) and (max-width: 767px){
	
	.inner02 .infoBG::before {opacity: 0.8;}
	.highcharts-container  .highcharts-axis-labels.highcharts-xaxis-labels  {top: 15px !important; left: -35px !important;}
	
	.home .mainheadBG {height: 240px;}
	
	.topnewscroll {width: 80%; padding-left: 0px; margin-left: 20%; }
	.TopHead2 marquee {width: 100% !important;}
	
	.inner03 .haveQuestBG .section03 .col-sm-6.investCopy {flex: 0 0 100%; max-width: 100%; }
	.inner03 .readyinvestBG .section03 .col-sm-6.investCopy {flex: 0 0 100%; max-width: 100%; }
	.inner03 .haveQuestBG .section03 {    min-height: 470px; padding-bottom: 50px !important;}
	.inner03 .readyinvestBG .section03 {    min-height: 470px; padding-bottom: 80px !important;}
	
	/*.home #sec02Slide .owl-nav {width: 100%;}*/
	.home #sec02Slide .owl-dots {/*width: 75%;*/ right: 0px; float: none; bottom: -10px; margin: 0px auto !important; left: 0px; width: 80% !important; display: flex; align-items: center; flex-wrap: wrap; justify-content: center;}
	
	.home #sec02Slide .owl-nav {bottom: 23px; width: 100%; z-index: 5000 !important;}
	.home #sec02Slide .owl-nav .owl-prev {background-position: 0px center;}
	.home #sec02Slide .owl-nav .owl-next {background-position: 0px center;}
	
	
	
	.home #sec02Slide .owl-dots .owl-dot {width: 9px; height: 9px;}
	.home #sec02Slide .owl-dots .owl-dot.active {width: 9px; height: 9px;}
	.adpaleft {padding-left: 0px;}
	.home #sec02Slide .owl-nav .owl-prev:hover { background: url(../img/prev2.svg) no-repeat center;background-size: 24%;}
	.home #sec02Slide .owl-nav .owl-next:hover {    background: url(../img/next3.svg) no-repeat center;background-size: 24%;}
	
	.home #sec02Slide .owl-nav .owl-prev {    background: url(../img/prev2.svg) no-repeat center left !important; background-size: 24% !important; left: 0px;}
	.home #sec02Slide .owl-nav .owl-next {    background: url(../img/next3.svg) no-repeat center right !important; background-size: 24% !important; right: 0px;}
	
	.home .headvideo, .home .head {height: 580px;}
	.headvideo_Thumb {height: 580px;}
	.containerNav {height: 580px;}
	.headvideo_Thumb::before {height: 580px;}
	
	/*.inner03 .section02 h5 { padding-left: 25px; padding-right: 25px;}*/
	.home.inner03 .section02 p {padding-left: 0px !important; padding-right: 0px !important;}
	.home.inner03 .section02 {padding-left: 25px !important; padding-right: 25px !important;}
	.inner03 .section02 h5 {line-height: 30px !important; margin-bottom: 20px !important;}
	
	.inner03 .section02 .inverdet2 p { font-size: 14px !important; line-height: 20px !important;}
	.inner03 .haveQuestBG .section03 {background-size: 200%; background-position: right 50% top 0px;}
	.inner03 .haveQuestBG .section03::before {width: 80%;}
	
	.inner03 .haveQuestBG .section03 {padding-left: 0px !important; padding-right: 25px !important; }
	.inner03 .haveQuestBG .section03 .investCopy, .inner03 .readyinvestBG .section03 .investCopy {padding: 20px !important; min-height: 140px !important; margin-top: 210px;}
	.inner03 .haveQuestBG .section03 .investCopy h3, .inner03 .readyinvestBG .section03 .investCopy h3 {font-size: 30px; line-height: 40px;  font-family: 'EffraMedium-Regular';}
	.inner03 .haveQuestBG .section03 .investCopy p, .inner03 .readyinvestBG .section03 .investCopy p {font-size: 16px; line-height: 22px;}
	.inner03 .readyinvestBG .section03::before {width: 80%;}
	
	.inner03 .yourteamBG .section03 .teamBG .team h6 { font-family: 'EffraMedium-Regular';}
	
	.inner03 .readyinvestBG .section03 {background-size: 200%;}
	
	.iconsbg .iconcontent .iconcontinsecBG img {width: auto;}
	.headvideo_Thumb .watchVideoBG {top: 245px;}
	
	.sec04::after {width: 80%;}
	.sec06::before {width: 80%;}
	.home .mainheadBG { bottom: 25px; padding-top: 0px;}
	.home .mainheadBG h2 { font-size: 22px; line-height: 12px;}
	.home .mainheadBG h1 { font-size: 36px; line-height: 34px;}
	.home .mainheadBG p {font-size: 13px; line-height: 18px;}
	.menuBG { width: 40px; height: 40px; top: 100px;}
	.headvideo_Thumb .watchVideoBG .playBTN {width: 35px; height: 35px;}
	.headvideo_Thumb .watchVideoBG .watchVideoCopy {line-height: 35px;}
	.containerNav {padding: 0px;}
	
	.tadawulLogo2 {background-size: 70% !important;}
	.muqassaLogo {background-size: 100% !important;}
	.cmaLogo {background-size: 100% !important;}
	.edaaLogo {background-size: 80% !important;}
	.home .section02 p {font-size: 16px; line-height: 22px;}
	.home .section04 .HistoryBG ul li span {font-size: 24px; line-height: 28px; min-height: 115px;}
	
	.home .section04 .HistoryBG .CTA20_popUp {top: 88px;}
	.home .section04 .HistoryBG .CTA19_popUp {top: 347px;}
	.home .section04 .HistoryBG .CTA18_popUp {top: 607px;}
	.home .section04 .HistoryBG ul li span {padding-right: 50px;}
	.home .section04 .HistoryBG .TpopUpBG h6 {font-size: 22px; line-height: 24px;}
	.home .section04 .HistoryBG .TpopUpBG ol li span {font-size: 16px;}
	.home .section04 .HistoryBG .TpopUpBG ol li ul li {font-size: 14px; line-height: 22px; margin-bottom: 10px;}
	.home .section04 .HistoryBG .TpopUpBG ol li label {font-size: 14px;}
	.home .section04 .HistoryBG .TpopUpBG ol li ul li span{font-size: 12px; line-height: 16px;}
	.home .section04 .HistoryBG .CTA17_popUp {bottom: auto !important; top: 867px;}
	.home .section04 .HistoryBG .CTA16_popUp {bottom: auto !important; top: 1127px;}
	
	.section08 .col-sm-7 p{text-align: center !important; margin: 0px auto 20px !important;}	
	.section08 .col-sm-7 p label{text-align: center !important; margin: 0px auto !important;}	
	
	.section08 .col-sm-7.hidemob3 {text-align: center !important;}	
	.section08 .col-sm-7.hidemob3 p{text-align: center !important; margin: 20px auto 0px !important; display: inline-block;}	
	.section08 .col-sm-7.hidemob3 p span{ display: block; line-height: 50px;}	
	.social1 {text-align: left !important;}
	
	.section07 .halfwidth1 {width: 50% !important; text-align: left !important;}
	.section07 .halfwidth1 img{margin-bottom: 45px;}
	.section07 .halfwidth2 {width: 50% !important; text-align: right !important;}
	.section07 p {text-align: left !important; font-size: 12px !important; line-height: 16px;}
	.section07 p a{text-align: left !important; font-size: 12px !important; line-height: 16px;}
	.home .section04 .HistoryBG .CTA16_popUp {bottom: 0px;}
	.home .section04 .HistoryBG .CTA17_popUp {bottom: 11%;}
	
	.home .section08 .social a i.ios-ico, .home .section08 .social a i.android-ico {width: 33px; height: 33px; background-size: 10px;  border-width: 1px;}
	.home .section08 .social a i {width: 33px; height: 33px; border-width: 1px; font-size: 15px; line-height: 33px; margin-left: 0px; }
	.home .section08 .social a i.android-ico {margin-left: 5px;}
	.marBot03 {padding-bottom: 0px;}
	
	/*.home .section08 .col-sm-3 {display: flex !important; flex-wrap: wrap; justify-content:  space-between; align-items: center; height: 40px; line-height: 40px; }
	.home .section08 .col-sm-2 {display: flex !important; flex-wrap: wrap; justify-content:  space-between; align-items: center; height: 40px; line-height: 40px; }*/
	
	
	.home .section02 a.tadawulLogo{ background: url("../img/logos/tadawul-logoB.png") no-repeat; transform: scale(1);  transition: all 0s; }
	.home .section02 a.tadawulLogo:hover{ background: url("../img/logos/tadawul-logoB.png") no-repeat; transform: scale(1);  transition: all 0s; }
	.home .section02 a.tadawulLogo.active{ background: url("../img/logos/tadawul-logoC.png") no-repeat; transform: scale(1);  transition: all 0s; }

	.home .section02 a.muqassaLogo{ background: url("../img/logos/muqassa-logoB.png") no-repeat; transform: scale(1);  transition: all 0s; }
	.home .section02 a.muqassaLogo:hover{ background: url("../img/logos/muqassa-logoB.png") no-repeat; transform: scale(1);  transition: all 0s; }
	.home .section02 a.muqassaLogo.active{ background: url("../img/logos/muqassa-logoC.png") no-repeat; transform: scale(1);  transition: all 0s; }

	.home .section02 a.edaaLogo{ background: url("../img/logos/edaa-logoB.png") no-repeat; transform: scale(1); transition: all 0s; }
	.home .section02 a.edaaLogo:hover{ background: url("../img/logos/edaa-logoB.png") no-repeat; transform: scale(1); transition: all 0s; }
	.home .section02 a.edaaLogo.active{ background: url("../img/logos/edaa-logoC.png") no-repeat; transform: scale(1); transition: all 0s; }

	.home .section02 a.cmaLogo{ background: url("../img/logos/cma-logoB.png") no-repeat; transform: scale(1); transition: all 0s; }
	.home .section02 a.cmaLogo:hover{ background: url("../img/logos/cma-logoB.png") no-repeat; transform: scale(1); transition: all 0s; }
	.home .section02 a.cmaLogo.active{ background: url("../img/logos/cma-logoC.png") no-repeat; transform: scale(1); transition: all 0s; }
	.home .section02 {padding-bottom: 90px !important;}
	.home.inner02 .section02 {padding-bottom: 55px !important;}
	
	.home .section05 #tabs .tab-content { width: 100%; overflow-x: scroll; overflow-y: hidden; height: 500px; border: 0px solid red; padding-bottom: 80px;}
	.home .section05 #tabs .tab-content figure{ width: 800px; overflow-x: scroll; overflow-y: hidden; height: 500px; border: 0px solid red; padding-bottom: 80px;}
	.home .section05 {padding-left: 0px !important; padding-right: 0px !important;}
	.home .section05 #tabs .tab-content figure .highcharts-axis-labels.highcharts-yaxis-labels text[text-anchor=end] {font-size: 12px !important;}
	.home .section05 #tabs .tab-content figure .highcharts-axis-labels.highcharts-xaxis-labels span[text-anchor=center] {font-size: 12px !important; top: 330px !important;}
	.home .section05 #tabs .tab-content figure .highcharts-axis-labels.highcharts-yaxis-labels text[text-anchor=start] {font-size: 12px !important;}
	.home .section05 .chartBG .nav {border: none !important; padding: 0px 25px !important;}
	
	.sseFooter {width: 160px !important; padding-top: 10px;}
	
	.iconsbg .iconcontent .iconcontinsecBG .icoSet {height: auto !important; text-align: center !important; justify-content: center;}
	.iconsbg .iconcontent .iconcontinsecBG .icoSet img{width: 50% !important;}
	
	.home .mainheadBG p {font-size: 14px; line-height: 20px;}
	.home .mainheadBG h1 { font-size: 38px; line-height: 38px;}
	.home .mainheadBG h2 { font-size: 22px; line-height: 22px;}
	
	.home .section08 p {font-size: 12px;}
	.home .section02 p, .home .section04 p {font-size: 16px; line-height: 24px;}
	.home .section02 p {margin-top: 0px;}
	.home.inner02 .section02 {padding-left: 0px; padding-right: 0px;}
	/*.home.inner02 .section02 h2 {padding-left: 25px; padding-right: 25px;}
	.home.inner02 .section02 p {padding-left: 25px; padding-right: 25px;}*/
	.home.inner02 .section02 a.explore { word-wrap: break-word; line-height: 20px; font-size: 14px; padding-left: 35px;}
	
	.home .section02 p {padding-left: 0px; padding-right:0px;}
	.home .section02 a.explore { word-wrap: break-word; line-height: 24px; font-size: 14px;  padding-left: 35px;}
	.inner02 .infoBG .section04, .inner02 .issuersBG .section03 {padding-left: 25px; padding-right: 25px;}
	
	.inner02 .infoBG .section04 h4, .inner02 .documentBG .section05 h4 {text-align: left;}
	
	.fullscreenVideo .videoCopy {width: 90%; height: 90%;}
	
	.fullscreenVideo .videoClose { top: 0px; right: 0px; }

	.inner02 .section02 h2 {font-size: 30px; line-height: 40px;}
	.inner03 .yourteamBG .section03 h2 {font-size: 30px; line-height: 40px; text-align: left; margin-bottom: 20px;}
	table.dataTable tbody td {font-size: 12px;}
	.fulldatalist {font-size: 12px; line-height: 18px; padding-left: 20px; padding-bottom: 30px; min-height: 220px;}
	.fulldatalist .Listitemleft{ padding-right: 25px; width: 100%; margin-bottom: 20px;}
	.fulldatalist .Listitemright {width: 100%;}
	.fulldatalist .Listitemright a{font-size: 13px;}
	
	.inner02 .issuersBG .section03 .subCopy p, .inner02 .infoBG .section04 p {font-size: 14px; line-height: 22px; font-family: 'Arial';}
	.inner03 .yourteamBG .section03 p {font-size: 16px;  font-family: 'Arial';}
	.inner02 .issuersBG .section03 .subCopy {padding-top: 25px;}
	.home.inner02 .section03, .home.inner02 .section04 {padding-top: 40px !important;}
	.home.inner02 .section04 {padding-bottom: 40px !important;}
	.inner02 .issuersBG .section03 h4{font-size: 30px; line-height: 40px;}
	.inner02 .issuersBG .section03 ul li {font-family: 'Arial'; font-size: 16px; line-height: 22px;}
	
	.inner02 .infoBG .section04 h4, .inner02 .documentBG .section05 h4, .inner03 .meetUsBG .section04 h4{font-size: 29px !important; line-height: 40px !important;}
	 .inner03 .meetUsBG .section04 h4, .inner03 .meetUsBG .section04 p{ text-align: left !important; }
	.inner02 .infoBG {background-position: right;}
	
	.inner02 .head .inner02Img::after {background: none !important;}
	.inner02 .head .inner02Img img {width: 250%; margin-left: -115%;}
	/*.inner02 .headvideo, .inner02 .head {height: 503px !important;}*/
	.inner02 .header::after { top: 580px !important; display: inline !important;}
	.header::after {top: 580px; display: none;}
	.home.inner02 .headvideo, .home.inner02 .head {height: 580px; overflow: hidden;}
	
	.inner02 .documentBG .section05 {padding-top: 50px;}
	.inner02 .documentBG {min-height: 650px; padding: 0px 25px 35px; background:  url(../img/downloadDocBG.jpg) repeat-y top right !important; background-size: 100% !important;}
	
	.home.inner02 .section02 { padding-top: 50px !important;}
	.home.inner03 .section02 {padding-bottom: 50px !important; padding-top: 80px !important;}
	.home.inner04 .section02 {padding-top: 30px !important;}

	.home .section06 {min-height: 350px; padding-top: 60px;}
	
	.meetUsBG .section04 {padding-left: 25px; padding-right: 25px; }
	
	.inner03 .meetUsBG .section04 .meetUsSelectD .styledSelect {margin-left: 0px; font-size: 14px !important; margin-top: -35px; width: 100%;}
	.inner03 .meetUsBG .section04 .meetUsSelectD { text-align: left !important; margin-bottom: 30px; }
	.inner03 .meetUsBG .section04 .meetUsSelectD .options {margin-left: 0px; top: 54px !important; width: 100%;}
	
	.inner03 .meetUsBG .section04 h6{font-size: 26px; line-height: 40px; margin-bottom: 25px !important; text-transform: uppercase; font-family: 'Effra_Medium'; display: block;;}
	
	.padleriMob {padding-left: 25px; padding-right: 25px;}
	.inner03 .yourteamBG .section03 {padding-left: 25px; padding-right: 25px; padding-bottom: 20px !important;}
	.inner03 .yourteamBG .section03 .teamBG .adspleriTeam {margin-bottom: 30px; padding:0px 10px !important;}
	
	.inner04 .head {height: 250px !important;}
	.inner04 .header::after {background: none !important;}
	
	.containerNav::after { content: '';  background: url(../img/header-patternBG.png) repeat-x left bottom #fff; background-size: contain; position: absolute;  top: 580px;  left: 0px;  height: 40px;  width: 100%;  z-index: 100;}
	.home.inner02 .section02 h2 {text-align: left !important; padding: 0px 0px 0px 0px;}
	
	.inner04 .section02 .col01, .inner04 .section02 .col02 {font-size: 16px !important; }
	.inner04 .section02 .contactForm label { line-height: 10px !important; min-height: 20px !important;}
	
	.inner04 .section02 .contactForm { margin-top:30px; font-size: 16px; }
	.inner04 .section02 .contactForm .submit2{ float: right; width:180px;}
	.inner03 .yourteamBG .section03 .teamBG { padding-bottom: 0px;}
	.inner03 .yourteamBG .section03 .teamBG.admarTeam {margin: 0px 0px !important;}
	
	.inner05 .searchresultBG .searchresultCopyBG .section03 { padding-left: 25px; padding-right: 25px;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li p {font-size: 14px; line-height: 22px;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li a {font-size: 20px; line-height: 30px; margin-bottom: 10px;}
	.inner05 .searchresultBG .searchresultTopBG .section02 a.cta01 {margin-bottom: 25px;}
	.inner05 .searchresultBG .searchresultTopBG .section02 {text-align: center !important;}
	.inner05 .searchresultBG .searchresultTopBG .section02 .card .card-body .col-auto button {font-size: 0px !important; width: 50px; background-position: right 20px center ;}
	.inner05 .searchresultBG .searchresultTopBG .section02 {padding-bottom: 0px !important;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li {padding: 15px;}
	
	.home .section03 .owl-carousel.owl-drag .owl-item h5 {font-size: 15px; line-height: 20px;}
	.home .section03 .owl-carousel.owl-drag .owl-item p {font-size: 13px; line-height: 18px;}
	
	/*.home .section08 .col-sm-3 {flex: 0 0 60% !important;  max-width: 60% !important; margin: 0px auto; text-align: center; display: flex; align-items: center;  flex-wrap: wrap; justify-content: center;}
	.home .section08 .col-sm-2 {flex: 0 0 30% !important;  max-width: 30% !important; margin: 0px auto; text-align: center; display: flex; align-items: center;  flex-wrap: wrap; justify-content: center;}*/
	
	
	.contactDet .col-sm-2 {flex: 0 0 100%; max-width: 100%;}
	.contactDet .col-sm-5 {flex: 0 0 100%; max-width: 100%;}
	
	.TopHead2 p { width: 70px; line-height: 15px; padding-top: 5px; text-align: left;}
	.getIn { margin-top: -10px !important; margin-bottom: -10px !important;}
	
	
	
	
}

@media (max-height: 480px) and (max-width: 900px) and (min-height: 200px) and (min-width: 480px) { 
	
	.home .section05 #tabs .tab-content { width: 100%; overflow-x: scroll; overflow-y: hidden; height: 500px; border: 0px solid red; padding-bottom: 80px;}
	.home .section05 #tabs .tab-content figure{ width: 800px; overflow-x: scroll; overflow-y: hidden; height: 500px; border: 0px solid red; padding-bottom: 80px;}
	
	.home .section02 {padding-left: 30px !important; padding-right:30px !important;}
	.home .section08 .remaleride {width: 450px; margin: 0px auto !important;}
	/*.home .section08 .col-sm-3 { flex: 0 0 50% !important; max-width: 50% !important;}*/
	/*.home .section08 .col-sm-2 {flex: 0 0 40% !important; max-width: 40% !important; text-align: right !important;}*/
	
	
	/*.home .section08 .col-sm-3 {flex: 0 0 50% !important;  max-width: 50% !important; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content:  space-between !important; flex-wrap: wrap; justify-content: center;}
	.home .section08 .col-sm-2 {flex: 0 0 22% !important;  max-width: 22% !important; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content:  space-between !important; flex-wrap: wrap; justify-content: center;}
	
	.home .section08 .col-sm-3 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
	.home .section08 .col-sm-2 a{ height: 33px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }*/
	
	
	.inner03 .section02 .inverdet .col-sm-2 {  flex: 0 0 34.666667% !important;  max-width: 34.666667% !important;}
	.inner03 .section02 .inverdet .col-sm-5 { flex: 0 0 46.666667% !important;  max-width: 46.666667% !important;}
	.home.inner03 .section02 {padding-top: 40px !important;}
	
	
	.topnewscroll .topscroll {text-align: center !important;}
	.iconsbg .iconcontent .iconcontinsecBG {width: 92%;}
	.home .section08 p {    justify-content: center;}
	
	#tabs .nav-tabs .nav-link {    font-size: 16px; padding: 20px;}
	.home .section04 .HistoryBG .CTA20_popUp { top: 87px;}
	.home .section04 .HistoryBG .CTA19_popUp { top: 347px;}
	.home .section04 .HistoryBG .CTA18_popUp { top: 607px;}
	.home .section04 .HistoryBG .CTA17_popUp { bottom: 309px;}
	.home .section04 .HistoryBG .CTA16_popUp {bottom: 49px;}
	
	nav#nav ul.navset01 li {float: left !important;}
	.containerNav {padding: 25px 0px;}
	nav#nav ul.navset01 li a {padding: 15px 15px 10px; font-size: 16px;}
	.mobPos01 {padding-left: 10px; padding-right: 10px; top: 190px;}
	
	.inner02 .head .inner02Img img { width: 100%; margin-left: 0%;}
	.inner02 .head .inner02Img::after {width: 100%; top: 404px; bottom: auto;}
	.header::after{background: none;}
	.home .headvideo, .home .head {height: 500px !important; overflow: hidden;}
	.inner02 .section02 {padding-top: 75px;  padding-left: 25px;padding-right: 25px;}
	table.dataTable thead th {font-size: 10px;}
	table.dataTable tbody td {font-size: 11px;}
	table.dataTable thead th.sorting_asc:nth-child(2)::after{top: 17px !important;}
	.home .section04 {padding-top: 50px;  padding-left: 25px;padding-right: 25px;}
	.home .section02, .home .section04{padding-bottom: 90px !important;     padding-top: 50px;}
	.inner02 .documentBG .section05 {padding-left: 25px; padding-right: 25px;}
	.inner02 .documentBG .section05{padding-top: 40px;}
	.inner02 .documentBG { min-height: 620px;}
	.inner02 .infoBG .section04 {padding-top: 40px !important; min-height: 415px;}
	.home .section03 {padding-top: 50px !important;}
	.home.inner05 .section03 { padding-left: 25px; padding-right: 25px; }
	.inner02 .section02 h2 {font-size: 40px; line-height: 40px;}
	.home .section02 p{ font-size: 15px; line-height: 20px; margin-top: 15px;}
	.inner02 .issuersBG .section03 h4, .inner02 .infoBG .section04 h4, .inner02 .documentBG .section05 h4{ font-size: 40px; line-height: 50px; text-align: left !important;}
	.inner02 .issuersBG .section03 ul li {font-size: 16px; line-height: 24px;}
	.inner02 .issuersBG .section03 .subCopy{padding-top: 70px;}
	.inner02 .issuersBG .section03 .subCopy p, .inner02 .infoBG .section04 p{font-size: 16px; line-height: 24px;}
	.inner02 .documentBG .section05 .docmainCopy .table th{font-size: 16px;}
	.inner02 .documentBG .section05 .docmainCopy .table td span {font-size: 14px; line-height: 20px;}
	.inner02 .documentBG .section05 .docmainCopy .table td {font-size: 15px; line-height: 20px;}
	.home .section06 {min-height: 350px; padding-top: 50px;}
	.home .mainheadBG { top: 215px; height: 210px; bottom: 0px !important;}
	.home .mainheadBG h1 { font-size: 36px; line-height: 34px;}
	.home .mainheadBG p { font-size: 14px; line-height: 18px;}
	
	.inner03 .haveQuestBG .section03::before { width: 80%;}
	.inner03 .readyinvestBG .section03::before { width: 80%;}
	.inner03 .haveQuestBG .section03 { background-size: 100%; padding-right: 25px; }
	.inner03 .readyinvestBG .section03 { background-size: 100%; padding-right: 25px;  }
	.haveQuestBG .col-sm-6 { flex: 0 0 100%; max-width: 100%;}
	.readyinvestBG .col-sm-6 { flex: 0 0 100%; max-width: 100%;}
	.inner03 .haveQuestBG .section03 .investCopy { min-height: 200px; margin-top: 275px; padding: 20px;}
	.inner03 .haveQuestBG .section03 .investCopy h3 {font-size: 35px; line-height: 45px;}
	.inner03 .haveQuestBG .section03 .investCopy p {font-size: 16px; line-height: 22px;}
	
	.inner03 .readyinvestBG .section03 .investCopy { min-height: 200px; margin-top: 275px; padding: 20px;}
	.inner03 .readyinvestBG .section03 .investCopy h3 {font-size: 35px; line-height: 45px;}
	.inner03 .readyinvestBG .section03 .investCopy p {font-size: 16px; line-height: 22px;}
	
	.inner03 .meetUsBG .section04 {padding-top: 60px !important;}
	.inner03 .meetUsBG .section04 h4 {font-size: 40px; line-height: 50px;}
	
	.inner03 .meetUsBG .section04 .meetUsTableBG .table th {font-size: 20px;}
	
	.inner03 .meetUsBG {min-height: 950px;}
	.home .section08 p {margin-bottom: 15px;}
	.home.inner04 .headvideo, .home.inner04 .head {height: 280px !important;}
	.contactDet .col-sm-2 {flex: 0 0 8.666667%; max-width: 8.666667%;}
	.contactDet .col-sm-5 {flex: 0 0 45.666667%; max-width: 45.666667%;}
	.inner04 .section02 .col01 {font-size: 16px;}
	.inner04 .section02 .col02 {font-size: 16px;}
	.inner04 .section02 .contactForm label { line-height: 20px; font-size: 14px; min-height: 40px;  display: flex; align-items: center;  flex-wrap: wrap; justify-content: left;}
	
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 {flex: 0 0 100%; max-width: 100%;}
	.inner04 .section02 .contactForm .contactCTA .col-sm-5 .submit2{ width: 160px; float: right;}
	
	.inner03 .yourteamBG .section03 {padding-left: 25px; padding-right: 25px;}
	.inner03 .yourteamBG .section03 h2 {font-size: 40px; line-height: 40px; margin-bottom: 20px; text-align: left;}
	.inner03 .yourteamBG .section03 p {font-size: 16px; line-height: 22px;}
	.inner03 .yourteamBG .section03 .teamBG .adspleriTeam {padding: 0px 10px;}
	.inner03 .yourteamBG .section03 .teamBG.admarTeam {  margin-left: 0px; margin-right: 0px;}
	.inner03 .yourteamBG .section03 .teamBG .team h6 {font-size: 18px; line-height: 22px;}
	.inner03 .yourteamBG .section03 .teamBG .team {padding: 15px; min-height: 200px;}
	.inner03 .yourteamBG .section03 .teamBG .team p {font-size: 14px; line-height: 20px;}
	.inner03 .yourteamBG {padding-bottom: 10px;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li p {font-size: 15px; line-height: 22px;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li a {font-size: 20px; line-height: 34px;}
	.inner05 .searchresultBG .searchresultCopyBG .section03 ul li {padding: 10px 15px;}
	
	.home .iconsbg .iconcontent {height: 200px !important;}
	.iconsbg .iconcontent .iconcontinsecBG .icoSet {width: 33%;}
	.iconsbg .iconcontent .iconcontinsecBG .icoSet img {width: 75% !important;}
	.headvideo_Thumb .watchVideoBG .watchVideoCopy {font-size: 14px; padding-left: 14px;}
	.headvideo_Thumb .watchVideoBG .playBTN { width: 35px; height: 35px;}
	.headvideo_Thumb .watchVideoBG .watchVideoCopy {line-height: 34px;}
	.home .mainheadBG h2 {font-size: 28px;}
	.home .mainheadBG {max-width: 680px !important; top: auto; bottom: 0px; padding-top: 30px !important; height: 180px;}
	.home .section04 .HistoryBG .TpopUpBG  {right: 0px ;}
	.containerNav.innerIpad .mobPos01 {top: 200px;}
	.home .section03 {  padding-left: 20px !important;}	
	.home .section03 .select {  margin-left: 0px;}
	.containerNav{padding: 0px;}
	.home #sec02Slide .owl-dots {width: 80%; right: 44px;}
	
	.inner02 .issuersBG  .row{ margin: 0px !important;}
	.inner02 .section02 h2 {margin-top: 0px;}
	
	.home.inner03 .section02 .col-sm-2 { flex: 0 0 8.666667%; max-width: 8.666667%;}
	.inner04 .section02 .contactForm label {line-height: 17px !important;}
	.inner04 .section02 .col01, .inner04 .section02 .col02 {font-size: 14px !important;}
	.inner04 .section02 .contactForm .thankyou {font-size: 16px; line-height: 22px;}
	
	.home #sec02Slide .owl-nav {width: 100%;}
	.home #sec02Slide .owl-nav .owl-prev {left: 0px;}
	.home #sec02Slide .owl-nav .owl-next {right: 0px;}
	
	.home.inner04 .section03 { padding-bottom: 30px !important;}
	.getIn {margin-top: -10px !important;  margin-bottom: -5px !important;}
	.inner03 .yourteamBG .section03 .teamBG.admarTeam {  margin-left: -10px !important;  margin-right: -10px !important;}
	
}

@media (max-height: 480px) and (max-width: 750px) and (min-height: 200px) and (min-width: 480px) { 
	.home .mainheadBG {height: 170px;}
	.container-fluid.contSec01 h4 { font-size: 40px; line-height: 40px;}
	.container-fluid.contSec01 h5 { font-size: 52px; line-height: 55px; }
	.tadawulLogo2 { background-size: 30% !important;}
	.home .section02 a.cmaLogo { background-size: 50% !important;}
	.home .section02 a.muqassaLogo { background-size: 50% !important;}
	.home .section02 a.edaaLogo { background-size: 50% !important;}
	.ourecoBG .logosetBG::after { top: -30px;}
	/*.home .section08 .col-sm-3 { flex: 0 0 35% !important; max-width: 35% !important;}
	.home .section08 .col-sm-2 {flex: 0 0 40% !important; max-width: 40% !important; text-align: right !important;}*/
	
	.inner02 .header::after {top: 430px !important;}
	.home.inner02 .headvideo, .home.inner02 .head {height: 430px;}
	.home.inner02 .mainheadBG {    height: 166px;bottom: 90px;}
	.home.inner02 .section02 {padding-top: 70px;}
	.home.inner02 .section02 h2 {padding-left: 25px;}
	.inner02 .head .inner02Img img { width: 120%; margin-left: -5%;}
	
	.header::after { background: url(../img/header-patternBG.png) repeat-x left bottom #fff; }
		.home .headvideo, .home .head {height: 500px !important; overflow: hidden;}
		.home .mainheadBG {max-width: 680px !important; top: auto; bottom: 20px !important; padding-top: 30px !important; height: 180px;}
	.tadawulLogo2 {height: 100px !important;}
	.home #sec02Slide .owl-nav {width: 100%;}
	
	.home.inner03 .headvideo, .home.inner03 .head { height: 430px !important;}
	.home.inner02 .headvideo, .home.inner02 .head { height: 430px !important;}
	.inner02 .section02 h2 {margin-top: 30px;}
	.home.inner03 .section02 {padding-top: 80px !important;}
	.home.inner04 .section02 {padding-top: 20px !important;}
	.inner03 .head .inner02Img img {width: 105% !important; }
	.home.inner04 .headvideo, .home.inner04 .head {height: 250px !important;}
	
	/*.home .section08 .col-sm-3 {flex: 0 0 200px !important; max-width: 200px !important; margin: 0px auto 0px 0px;}
	.home .section08 .col-sm-2 	{ flex: 0 0 100px !important; max-width: 100px !important; margin: 0px 0px 0px auto;}*/
	
	
	
	.inner03 .yourteamBG .section03 .teamBG .team { min-height: 250px;}
	
	
}

@media (max-height: 480px) and (max-width: 570px) and (min-height: 200px) and (min-width: 480px) { 
	.home .mainheadBG {bottom: 35px !important;}
}

@media only screen and (min-width: 581px) and (max-width: 620px){
	.iconsbg .iconcontent .iconcontinsecBG .icoSet img { width: 80% !important;}
	.container-fluid.contSec01 h4 { font-size: 36px; line-height: 38px;}
	.container-fluid.contSec01 h5 { font-size: 46px; line-height: 43px;}
	.tadawulLogo2 { background-size: 40% !important;}
	.ourecoBG .logosetBG .logosetLeft a.muqassaLogo { width: 70% !important;}
	.ourecoBG .logosetBG .logosetRight a.edaaLogo { width: 70% !important;}
	.cmaLogo { background-size: 60% !important;}
	.ourecoBG .logosetBG{margin-top: 40px !important;}
	.ourecoBG .logosetBG::after {top: -20px;}
	.home.inner03 .section02 .col-sm-2 {flex: 0 0 35.666667%; max-width: 35.666667%;}
	.home.inner03 .section02 .col-sm-5 {flex: 0 0 50.666667%; max-width: 60.666667%;}
	.home.inner03 .section02 .col-sm-5 { flex: 0 0 100%;  max-width: 100%;} 
	
	.home .section08 .remaleride {width: 360px; margin: 0px auto !important;}
	.home .section08 .col-sm-3 { flex: 0 0 50% !important; max-width: 50% !important;}
	
	
}


@media only screen and (min-width: 0px) and (max-width: 580px){
	.inner03 .readyinvestBG .section03 {background-size: 100% !important; background: url(../img/investBG3.jpg) no-repeat right top;} 
	.inner03 .readyinvestBG .section03 .investCopy {margin-top: 300px;}
	.inner03 .haveQuestBG .section03 {background-size: 100% !important; background: url(../img/questBG2.jpg) no-repeat right top;}
	.inner03 .haveQuestBG .section03 .investCopy {margin-top: 300px;}
	.home .section08 .remaleride {width: 100% !important; margin: 0px auto !important;}
	.home .section08 .col-sm-2 { flex: 0 0 26% !important; max-width: 26% !important;}
	.home .section08 .col-sm-3 { flex: 0 0 50% !important; max-width: 50% !important;}
	.inner03 .yourteamBG .section03 .teamBG .team .social {position: relative; bottom: 0px; margin-top: 40px;}
	.inner03 .yourteamBG .section03 .teamBG .team {min-height: 150px;}
	.home .section02 {   padding-left: 20px !important;  padding-right: 20px !important;}
	
	.home.inner03.inner04 .section02 .col-sm-2 {    flex: 0 0 100%;  max-width: 100%;}
	.home.inner03.inner04 .section02 .col-sm-5 {    flex: 0 0 100%;  max-width: 100%;}
	.home.inner03 .section02 .col-sm-2 {  flex: 0 0 100%;  max-width: 100%;}
	.home.inner03 .section02 .col-sm-5 {  flex: 0 0 100%;  max-width: 100%;}
	.inner03 .yourteamBG .section03 .teamBG .adspleriTeam {  padding: 0px 0px !important;}
	.inner03 .yourteamBG {padding-bottom: 10px !important;}
	
	.getIn { margin-top: -10px !important; margin-bottom: -10px !important;}
	
	/*.home .section08 .social a i {width: 36px; height: 36px; margin-left: 5%; line-height: 36px;}
	.home .section08 .social a i.ios-ico, .home .section08 .social a i.android-ico {width: 36px; height: 36px; margin-left: 5%; line-height: 36px;}
	.home .section08 .social a i.ios-ico {width: 36px; height: 36px; margin-left: 0px;}*/
	
	
	/*table.dataTable thead th:first-child, table.dataTable thead td:first-child {display: none;}
	table.dataTable.display tbody tr.odd td:first-child { display: none}
	table.dataTable.display tbody tr.even td:first-child { display: none}*/
	
	.meetchartbg .meetchartmob .card:first-child {border-top: none;}
	.inner02 .documentBG .section05 {padding-top: 35px !important;}
	
}

@media only screen and (min-width: 350px) and (max-width: 580px){
	.home .section03 .cta a.view {font-size: 14px; margin-left: -30px;}
}

@media only screen and (min-width: 0px) and (max-width: 400px){
	.topnewscroll {width: 78%; margin-left: 22%; }
	.home .mainheadBG {top: 300px; bottom: 25px !important;}
	.home.inner04 .section02 .col01, .home.inner04 .section02 .col02 {font-size: 14px !important;}
	.home.inner04 .section02 .contactForm label { line-height: 10px !important; min-height: 10px !important; font-size: 14px !important;}
	
}


@media only screen and (min-width: 0px) and (max-width: 340px){
	.topnewscroll {width: 70%; margin-left: 30%; }
	.home .mainheadBG p {font-size: 13px; line-height: 17px;}
	.home .iconsbg .iconcontent {height: 480px !important;}
	.home .section03 .cta {margin-left: -20px;}
	.home .section08 .social a i {margin-left: 2px;}
	
	.home .section08 .remaleride {width: 270px; margin: 0px auto !important;}
	.home .section08 .col-sm-2 { flex: 0 0 30% !important; max-width: 30% !important;}
	.home .section08 .col-sm-3 { flex: 0 0 60% !important; max-width: 60% !important;}
	.section07 .halfwidth1 img {width: 90% !important;}
	nav#nav.navShadow .menuSecMob .sseLogo{ left: 65px;  width: 120px;}
	
}


/*========================================*/











