@media all and (-ms-high-contrast: none), (-ms-high-contract: active) {
   
	nav.navShadow#nav .TopHead2 {margin-top: -10px !important;}
	.TopHead {display: block;}
	.home .section04 .HistoryBG ul li label {overflow: visible !important;}
	.iconsbg .iconcontent {display: inline !important;}
	.owl-carousel .owl-item img {width: 80% !important;}
	.home #sec02Slide .owl-nav .owl-prev {background-size: 40% !important; top: -5px !important;}
	.home #sec02Slide .owl-nav .owl-next {background-size: 40% !important; top: -5px !important;}
	.home .section06 .signupbg .submit {margin: 20px 0px 0px !important;}
	nav#nav li.active a {padding-top: 47px !important;}
	
	/*.home .section04 .HistoryBG ul li:nth-child(odd) label { text-align: left !important;}
	.home .section04 .HistoryBG ul li:nth-child(even) label { text-align: right !important;}*/
	
	.home .section04 .HistoryBG ul li:nth-child(even) label::before { text-align: right !important;  right: 0px; margin-right:-62px;}
	.home .section08 p {margin-top: 20px;}
	.home .inner06 .section08 p {margin-top: 20px;}
	.bn-breaking-news .bn-news ul li {display: inline-block !important;}
	.inner02 .documentBG .section05 .docmainCopy a.downloadB { background-size: 52px; background-position: left 60px top 12px;}
	table.dataTable thead .sorting {background-size: 42px;}
	table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {background-size: 18px; background-position: center right 9px;}
	.inner07 .questionsBG #StickyWrapp {table-layout:fixed;}
	
}

